@CHARSET "UTF-8";

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
    background: #333;
    color: #ccc;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.clear {
    clear: both;
}

/*---------------------------------- videos -------------------------------- */

.videos {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.video1 {
    display: block;
    position: absolute;
    z-index: 0;
}

.video2 {
    display: none;
    position: absolute;
    z-index: 0;
}

.video3 {
    display: none;
    position: absolute;
    z-index: 0;
}

/*---------------------------------- Modes --------------------------------- */

.display_modes {
    display: none;
    position: absolute;
    z-index: 4;
    left: 0px;
    bottom: 50px;
    width: 20px;
    height: 41px;
    background-color: transparent;
    background-image: url(../image/displayModes.png);
    opacity: 0.92;
}

.hide_modes {
    display: block;
    position: absolute;
    z-index: 4;
    left: 177px;
    bottom: 50px;
    width: 20px;
    height: 41px;
    background-color: transparent;
    background-image: url(../image/hideModes.png);
    opacity: 0;
}

.modes {
    display: block;
    position: absolute;
    z-index: 3;
    left: 0px;
    bottom: 50px;
    width: 193px;
    height: 41px;
    background-color: transparent;
    background-image: url(../image/screenCloseBg.png);
    opacity: 0.92;
}

.mode1 {
    display: block;
    position: absolute;
    left: 10px;
    top: 5px;
    width: 28px;
    height: 29px;
    background-image: url(../image/oneScreenBtnNormal.png);
}

.mode1:hover {
    background-image: url(../image/oneScreenBtnHover.png);
}

.mode1:active {
    background-image: url(../image/oneScreenBtnActive.png);
}

.mode2 {
    display: none;
    position: absolute;
    left: 38px;
    top: 5px;
    width: 27px;
    height: 29px;
    background-image: url(../image/TwoScreenNormalBtnNormal.png);
}

.mode2:hover {
    background-image: url(../image/TwoScreenNormalBtnHover.png);
}

.mode2:active {
    background-image: url(../image/TwoScreenNormalBtnActive.png);
}

.mode3 {
    display: none;
    position: absolute;
    left: 65px;
    top: 5px;
    width: 27px;
    height: 29px;
    background-image: url(../image/TwoScreenLeftBtnNormal.png);
}

.mode3:hover {
    background-image: url(../image/TwoScreenLeftBtnHover.png);
}

.mode3:active {
    background-image: url(../image/TwoScreenLeftBtnActive.png);
}

.mode4 {
    display: none;
    position: absolute;
    left: 92px;
    top: 5px;
    width: 27px;
    height: 29px;
    background-image: url(../image/TwoScreenMidBtnNormal.png);
}

.mode4:hover {
    background-image: url(../image/TwoScreenMidBtnHover.png);
}

.mode4:active {
    background-image: url(../image/TwoScreenMidBtnActive.png);
}

.mode5 {
    display: none;
    position: absolute;
    left: 119px;
    top: 5px;
    width: 27px;
    height: 29px;
    background-image: url(../image/threeScreenLeftBtnNormal.png);
}

.mode5:hover {
    background-image: url(../image/threeScreenLeftBtnHover.png);
}

.mode5:active {
    background-image: url(../image/threeScreenLeftBtnActive.png);
}

.mode6 {
    display: none;
    position: absolute;
    left: 146px;
    top: 5px;
    width: 28px;
    height: 29px;
    background-image: url(../image/threeScreenRightNormal.png);
}

.mode6:hover {
    background-image: url(../image/threeScreenRightHover.png);
}

.mode6:active {
    background-image: url(../image/threeScreenRightActive.png);
}

/*-------------------------------- channels -------------------------------- */

.channels {
    display: block;
    position: absolute;
    z-index: 3;
    width: 99%;
}

.pre_channel {
    display: none;
    position: absolute;
    left: 0px;
    top: 283px;
    width: 38px;
    height: 154px;
    background-image: url(../image/leftChannelBtnNormal.png);
}

.pre_channel:hover {
    background-image: url(../image/leftChannelBtnHover.png);
}

.pre_channel:active {
    background-image: url(../image/leftChannelBtnActive.png);
}

.next_channel {
    display: none;
    position: absolute;
    top: 283px;
    right: 0px;
    width: 38px;
    height: 154px;
    background-image: url(../image/rightChannelBtnNormal.png);
}

.next_channel:hover {
    background-image: url(../image/rightChannelBtnHover.png);
}

.next_channel:active {
    background-image: url(../image/rightChannelBtnActive.png);
}

/*-------------------------------- controls -------------------------------- */

.controls {
    display: block;
    position: absolute;
    z-index: 3;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 54px;
    background-color: transparent;
}

.controls_display {
    display: block;
    position: absolute;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 54px;
    background-color: transparent;
}

.controls_background {
    width: 100%;
    bottom: 0px;
    height: 54px;
    background-size: 100% 54px;
    background-image: url(../image/bottomPanelBg.png);
    opacity: 0.92;
}

.display_dot {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 205px;
    top: 17px;
}

.display_click_dot {
    visibility: hidden;
    position: absolute;
    z-index: 3;
    left: 205px;
    top: 16px;
}

.display_image {
    display: block;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    bottom: 52px;
    width: 128px;
    background-color: transparency;
}

.play {
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 56px;
    height: 44px;
    background-image: url(../image/playBtnNormal.png);
}

.play:hover {
    background-image: url(../image/playBtnHover.png);
}

.play:active {
    background-image: url(../image/playBtnDown.png);
}

.pause {
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 56px;
    height: 44px;
    background-image: url(../image/pauseBtnNormal.png);
}

.pause:hover {
    background-image: url(../image/pauseBtnHover.png);
}

.pause:active {
    background-image: url(../image/pauseBtnDown.png);
}

.stop {
    display: block;
    position: absolute;
    left: 66px;
    top: 9px;
    width: 46px;
    height: 36px;
    background-image: url(../image/stopBtnNormal.png);
}

.stop:hover {
    background-image: url(../image/stopBtnHover.png);
}

.stop:active {
    background-image: url(../image/stopBtnDown.png);
}

.progess {
    position: absolute;
    left: 130px;
    top: 18px;
}

.progess_display {
    position: absolute;
    visibility: hidden;
    left: 50px;
    top: -16px;
    width: 64px;
    height: 16px;
    color: #fff;
}

.position {
    color: #FFF;
}

.duration {
    color: #FFF;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
    border: none;
    outline: medium;
    border-radius: 12px;
    background-color: #272728;
    background-size: 100% 12px;
    background-image: url(../image/progressbar.png);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
    height: 28px;
    width: 18px;
    background-image: url(../image/progressThumbBtn.png);
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
    border: none;
    border-radius: 12px;
    height: 12px;
    background-size: 0px 12px;
    background-image: url(../image/progressBarPer.png);
    background-repeat: no-repeat;
}

.progess_track {
    position: absolute;
    border: none;
    border-radius: 12px;
    top: 4px;
    left: 76px;
    width: 0px;
    height: 12px;
    background-size: 100% 12px;
    background-image: url(../image/progressBarPer.png);
    background-repeat: no-repeat;
}

.scrub {
    width: 900px;
    height: 12px;
}

.hd_button {
    display: none;
    position: absolute;
    right: 85px;
    top: 13px;
    width: 38px;
    height: 28px;
    background-image: url(../image/hdBtnNormal_en_US.png);
}

.hd_button:hover {
    background-image: url(../image/hdBtnHover_en_US.png);
}

.hd_button:active {
    background-image: url(../image/hdBtnActive_en_US.png);
}

.sd_button {
    display: none;
    position: absolute;
    right: 85px;
    top: 13px;
    width: 38px;
    height: 28px;
    background-image: url(../image/sdBtnNormal_en_US.png);
}

.sd_button:hover {
    background-image: url(../image/sdBtnHover_en_US.png);
}

.sd_button:active {
    background-image: url(../image/sdBtnActive_en_US.png);
}

.volume_max {
    display: block;
    position: absolute;
    right: 47px;
    top: 13px;
    width: 28px;
    height: 28px;
    background-image: url(../image/volumeMaxNormal.png);
}

.volume_max:hover {

    background-image: url(../image/volumeMaxHover.png);
}

.volume_max:active {

    background-image: url(../image/volumeMaxActive.png);
}

.volume_min {
    display: none;
    position: absolute;
    right: 47px;
    top: 13px;
    width: 28px;
    height: 28px;
    background-image: url(../image/volumeMinNormal.png);
}

.volume_min:hover {
    background-image: url(../image/volumeMinHover.png);
}

.volume_min:active {
    background-image: url(../image/volumeMinActive.png);
}

.volume_background {
    position: absolute;
    right: 47px;
    top: -120px;
    width: 28px;
    height: 134px;
    background-image: url(../image/volumebarBg.png);
    overflow: hidden;
}

.volume_bar {
    position: absolute;
    left: 8px;
    top: 10px;
    width: 11px;
    height: 102px;
    background-image: url(../image/volumebar.png);

}

.volume_track {
    position: absolute;
    left: 8px;
    top: 10px;
    width: 11px;
    height: 100px;
    background-size: 11px 100px;
    background-image: url(../image/volumebarPer.png);
}

.volume_thumb {
    position: absolute;
    left: 4px;
    top: -5px;
    width: 24px;
    height: 39px;
    margin: 0px 0px;
    background-image: url(../image/volumeThumbBtn.png);
}

.volume_display {
    position: absolute;
    right: 15px;
    bottom: 150px;
    width: 25px;
    height: 18px;
    margin: 0px 0px;
    background-color: #000;
    color: #fff;
}

.full_screen {
    display: block;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 28px;
    height: 29px;
    background-image: url(../image/fullScreenNormal.png);
}

.full_screen:hover {
    background-image: url(../image/fullScreenHover.png);
}

.full_screen:active {
    background-image: url(../image/fullScreenActive.png);
}

.normal_screen {
    display: none;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 28px;
    height: 29px;
    background-image: url(../image/normalScreenNormal.png);
}

.normal_screen:hover {
    background-image: url(../image/normalScreenHover.png);
}

.normal_screen:active {
    background-image: url(../image/normalScreenActive.png);
}

/*--------------------------------- alert ---------------------------------- */

.player {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.alert_win, .version_win {
    position: absolute;
    width: 400px;
    background: #444;
    display: none;
}

.alert_win dt, .version_win dt {
    display: block;
    background: #222;
    color: #ccc;
    height: 40px;
    padding: 0 0px 0 10px;
    line-height: 40px;
    font-size: 14px;
}

.alert_win dt span, .version_win dt span {
    float: right;
    font-family: arial;
    color: #999;
    width: 40px;
    height: 40px;
    font-weight: bold;
    text-align: center;
}

.alert_win dt span:hover, .version_win dt span:hover {
    background: #333;
    cursor: pointer;
}

.alert_win dd, .version_win dd {
    height: 320px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    color: #999;
    font-size: 12px;
    word-break: break-all;
    line-height: 180%;
}

.version_win {
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -200px;
}

.version_win dd {
    height: 120px;
    text-align: center;
    padding: 20px 10px;
}