*.o
tags
*.elf
.svn
vssver.scc
*.orig
*.bak
*.ho
*.tgz
*.tar.gz
*.bz2
*.h264
*.bin
*.cgi
*.out
sysinfo.txt
src/room/enc/modules/libs/librtsp.a
bin/*
src/control/bin/
src/ftp/ftpserver
src/mp4repair/mp4repair
src/room/ctrl/room
src/cgi/cgi-enc/build_info.h
src/recourse/recourse_list
src/tools/makepackage/mkpack
src/enc/middle/time_adjust
src/test_code/test_client
src/room_live/bin/
src/room_record/bin/
src/hd_upgrade/bin/
src/cgi/html/tools
src/cgi/html/video
src/file_management/bin/file_management
src/file_management/bin/sqlite3
src/recv_zlog/bin/
src/sd_upgrade/bin/
pkg
src/standard_stream/bin/
*.img
*.tgz
