* {
  margin: 0;
  padding: 0;	
}

html {
	height:100%;
	overflow: hidden;
}

body {
	height:100%;
	font-size:12px;
	color:#00FF00;
	background-color:#000;
	overflow:hidden;
}

#contents {
	width:100%;
	position:relative;
}

#blankDiv {
	width:100%;
	height:30px;
	position:relative;
	overflow:hidden;
}

.ctrlBtn {
	/*margin-left: 5px;*/
	cursor:pointer;
	margin-top:1px;
}

#videoConn {
	position:absolute;
	z-index:999;
	border:3px solid #EEE;
	display:none;
}

#imageConn {
	position:absolute;
	z-index:998;
	border:3px solid #EEE;
	width:200px;
	height:200px;
	display:none;
}

#imgContainer {
	width:100%;
	height:100%;
}

#indexs a {
	color:#00FF00;
}

/*Í¼Æ¬Ë÷Òý*/
#wrap {
	width:100%;
	height:100%;
	position:relative;
}

.scrollBtn {
	position:absolute;
	z-index:100;
	cursor:pointer;
	border:0;
}

.left {
	left:0px;
	top:0px;
}

.right {
	right:0px;
	top:0px;
}

#picIndexs {
	width:100%;
	height:100px;
	text-align:center;
	font-size:20px;
	color:#000;
	line-height:100px;
	background-color:#000;
}

#scrollConn {
	overflow:hidden;
	width:100%;
	height:100%;
	position:relative;
}

#scroll {
	position:absolute;
	width:2000px;
	height:100%;
	overflow:hidden;
	top:0px;
	left:0px;
	cursor:pointer;
}

.panel {
	width:110px;
	height:80px;
	padding:10px;
	line-height:100px;
	float:left;
	position:relative;
}

.panel .timeText {
	 /*background-color:#FFF;*/ 
	 width:106px; 
	 height:20px; 
	 line-height:20px; 
	 position:absolute;
	 left:12px;
	 bottom:12px;
	 color:#ACACAC;
	 font-size:16px;
}

.panel a {
	outline:none;
}

.panel img {
	width:106px;
	height:76px;
	border:2px solid #FFF;
}

/*ÎÄ×ÖË÷Òý*/
#indexs img {
	border:0;
}

#indexs,#indexs ul {
  	list-style: none;
}

#indexs li {
  	padding: 4px 0 4px 14px;
}

#indexs a {
	text-decoration: none;
	padding:2px 0;
	height:20px;
}

#pageLoding {
	position: absolute;
	width: 60px;
	top: 43%;
	left: 48%;
	z-index: 99999px;
}


